* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url('../assets/imagens/planodefundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    color: white;
}

#navbar {
    text-align: center;
    background-color: rgba(51, 51, 51, 0.8);
    padding: 50px 30px;
    color: aliceblue;
    position: relative;
}

.flex {
    display: flex;
    text-align: center;
    gap: 40px;
    justify-content: center;
}

#BARRA {
    padding: 12px 20px;
}

.flex a {
    color: crimson;
    text-decoration: none;
}

h3 {
    padding: 15px;
    text-align: center;
    background-color: rgba(51, 51, 51, 0.7); 
    display: flex;
}

#PSP {
    position: relative;
    padding: 90px 30px;
    margin: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-color: rgba(51, 51, 51, 0.7);
    border-radius: 10px;
}
.conteiner_jogos{
    position: relative;
    display: flex;
    gap: 20px;
    justify-content: center;
    border-radius: 10px;
}

#SNES{
    position: relative;
    padding: 100px 30px;
    margin: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-color: rgba(51, 51, 51, 0.7);
    border-radius: 10px;
}

#PS1{
    position: relative;
    padding: 100px 30px;
    margin: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-color: rgba(51, 51, 51, 0.7);
    border-radius: 10px;
}

#NIN64{
    position: relative;
    padding: 100px 30px;
    margin: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-color: rgba(51, 51, 51, 0.7);
    border-radius: 10px;
}

.games {
    padding: 20px 20px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    height: 600px;        
    width: 300px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    transition: transform 0.7s ease;
}

.games h4{
    padding: 10px;
    text-align: center;
}

.games:hover {
    transform: scale(1.10);
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.games img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.TS{
    margin-bottom: 20px;
    color: white;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    
}

.dowlond{
    background: #000;
    color: white;
    border: none;
    padding: 12px 18px;
    width: 100%;
    cursor: pointer;
    border-radius: 100px;
    transition:  0.3s;
    font-size: 16px;
    font-weight: 600;
}

.dowlond:hover{
    transform: scale(1.01);
}